:root {
  --card-photo-backgorund-color: #f4f4f4;
  --button-card-backgrund-color: #ececec;
}

.flex-start {
  justify-content: flex-start;
}

/*left*/

.wrapper-content {
  width: 1218px;
  height: 596px;
}

.content {
  height: inherit;
  width: 596px;
  padding: 0;
}

.mainTitle {
  margin-bottom: 32px;
  height: fit-content;
  padding: 0;
}

.photos-content {
  width: inherit;
  height: 510px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.photos-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.card-photo {
  background-color: var(--card-photo-backgorund-color);
  width: inherit;
  height: 160px;
  border-radius: 20px;
  margin-bottom: 14.55px;
}

/*right*/

.left-photo-content {
  height: inherit;
  width: 430px;
  display: flex;
  flex-direction: column;
}

.main-photos {
    box-sizing: border-box;
  width: inherit;
  height: 430px;
  background-color: var(--card-photo-backgorund-color);
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 160px);
  grid-template-rows: repeat(2, 160px);
  justify-content: center;
  align-content: center;
  gap: 24px;
}

.photos-img {
  width: 160px;
  height: 160px;
  border-radius: 20px;
}

.img-photos {
  width: inherit;
  height: inherit;
  border-radius: 20px;
}

.button-next {
    box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  width: inherit;
  height: 64px;
  background-color: var(--button-card-backgrund-color);
  border-radius: 20px;
}

.svg_button {
  margin-left: 11.58px;
  width: 28.82px;
  height: 22.4px;
  background: url(../img/eye.svg);
}

.info{
    box-sizing: border-box;
    margin-top: 31px;
    align-self: center;
    width: 400px;
    text-align: center;
}